a {
    color: #C86400;
    text-decoration: underline;
  }
  
    a:hover {
      color: #FF5000;
      text-decoration: none;
    }

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #5C5C5C;
    /* background-color: #ffa902;
    margin: 0;
    padding: 15px; */
    }  
    
    p {
        _margin: 0;
        _padding: 0;
        _padding-top: 5px;
        _padding-bottom: 5px;
        font-weight: bold;
      } 
      
.top {
  height: 20px;
  max-height: 20px;
}

.contentData {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.contentData div {
  padding-bottom: 3px;
}

.contentData select {
  width: 90%;
}

.gap {
    height: 10px
}